.mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2.5em 0;

    background-color: hsl(0, 0%, 100%);
    width: 90vw;
}

.mobile-menu-container a{
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: hsl(232, 10%, 55%);

    cursor: pointer;
}

.mobile-menu-container .btn {
    background-color: hsl(51, 100%, 49%);
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    text-transform: uppercase;

    padding: 1em 1.5em;
    border-radius: 50px;
}