.image-info-cell-container {
    position: relative;
    width: 100%;
}

.image-cell-background-img {
    display: block;
    width: 100%;
    height: auto;
}

.info-container {
    position: absolute;
    left: 50%;
    bottom: 3em;
    transform: translateX(-50%);
    padding: 1em;


    display: flex;
    flex-direction: column;
    gap: 1em;

    width: 80%;
    text-align: center;
    z-index: 1;
}

.info-heading {
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

.info-body {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}