.agency-features-grid-container {
    display: flex;
    flex-direction: column;
}

.cell {
    height: 100%;
}

@media (min-width: 768px) {
    .agency-features-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}